

<div class="row">
  <div class="col-md-12">
    <h1>Project Description </h1>
    <p>The goal of Brain Network is to advance communication and collaboration among peers. This is done by removing the barrier of a physical meeting.
    Brain Network aims to one day offer an experience that has all the qualities of an in person meeting. Brain Network will have features including:</p>
    <ul>
      <li>A virtual whiteboard</li>
      <li>Realtime video streaming</li>
      <li>Text, voice, and possibly video chat</li>
      <li>Screen Sharing</li>
    </ul>
  </div>
  <div class="col-md-12">
    <h1>Use Cases</h1>

    <ul>
      <li>School or Work project brainstorming and collaboration</li>
      <li>Solving problems with others. Math, logic, etc.</li>
      <li>Watching educational or instructional videos in a group</li>
      <li>Sharing work or information found on one device with a group in real time</li>
      <li>Much More!</li>
    </ul>
  </div>

  <div class="col-md-12">

    <h1>Group Members Participating in Project </h1>

    <ul>
      <li>Travis Spencer: Senior <br>Computer Science/Advanced Computing</li>
      <li>Steven Cassidy: Senior <br>Computer Science/Advanced Computing </li>
      <li> Hamza Faiz: Senior <br>Computer Science/Advanced Computing</li>
    </ul>

    <div class="col-md-12">
    <h1>Technologies Utilized</h1>

      <ul>
        <li>BootStrap</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>JSON Web Tokens</li>
        <li>Socket.IO</li>
        <li>WebRTC</li>
        <li>Angular</li>
        <li>MySQL</li>
        <li>AWW Board</li>
      </ul>

    </div>

  </div>
<!--  <div class="col-md-3">
    <div class="card card1">
      <div class="card-body">

          <ul>
            <li>Travis Spencer: Senior <br>Computer Science/Advanced Computing</li>
            <li>Steven Cassidy: Senior </li>
            <li> Hamza Faiz: Senior <br>Computer Science/Advanced Computing</li>
          </ul>

      </div>
      <div class="card-footer">
        <p>Developers</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card2">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies purus sit amet lectus ornare, ut placerat lorem laoreet.
        </p>
      </div>
      <div class="card-footer">
        <p>Purpose of the Project</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card3">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies purus sit amet lectus ornare, ut placerat lorem laoreet.
        </p>
      </div>
      <div class="card-footer">
        <p>Challenges Faced</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card4">
      <div class="card-body">
        <ul>
          <li>BootStrap</li>
          <li>NodeJS</li>
          <li>Socket.IO</li>
          <li>WebRTC</li>
          <li>Angular</li>
        </ul>
      </div>
      <div class="card-footer">
        <p>Techniques and Knowledge Attained</p>
      </div>
    </div>
  </div>-->
</div>
