<div class="row">
    <div class="col-md-12">
            <p>about works!</p>
    </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card card1">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies purus sit amet lectus ornare, ut placerat lorem laoreet.
        </p>
      </div>
      <div class="card-footer">
        <p>Card 1</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card2">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies purus sit amet lectus ornare, ut placerat lorem laoreet.
        </p>
      </div>
      <div class="card-footer">
        <p>Card 2</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card3">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies purus sit amet lectus ornare, ut placerat lorem laoreet.
        </p>
      </div>
      <div class="card-footer">
        <p>Card 3</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card4">
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies purus sit amet lectus ornare, ut placerat lorem laoreet.
        </p>
      </div>
      <div class="card-footer">
        <p>Card 4</p>
      </div>
    </div>
  </div>
</div>
