.card1 {
  background-color: red;
}
.card2 {
  background-color: green;
}
.card3 {
  background-color: blue;
}
.card4 {
  background-color: orangered;
}
p {
  text-align: left;
  display: inline-block;
}
