<div class="row">
  <div class="col-md-12">
    <img src="../assets/images/brainstorming-2398562_1280.jpg"/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Welcome to Brain Network!</h2>
</div>
</div>
<div class="row desc">
  <div class="col-md-12">
    <p>Welcome to Brain Network. Brain Network is an application that allows users to have small scale virtual meetings with the same capabilities as physical ones.
    The goal of Brain Network is to remove boundaries imposed by physical meetings, and allow people to connect from anywhere! While there may be some
    similar products out there geared towards businesses, Brain Network is attempting to be a low cost solution that students can easily access.</p>
    <p>Brain Network is still a work in progress; however when it is complete, it will offer meeting rooms for people to create and invite others.
      Inside the rooms, Users will be able to share ideas on a virtual whiteboard, chat with text and eventually voice, play and watch videos
      together as well as share their screen with the group. Click the button below to see a demo of the virtual whiteboard.
      Remember this is still a work in progress. </p>
  </div>
</div>
  <div class="row button-row">
    <div class="col-md-12">
      <a class="btn btn-primary" href="#" role="button" routerLink="/board">Check out the Virtual Whiteboard!</a>
    </div>
</div>
