<header class="bn-header" id="header">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <div class="navbar-left">
        <div class="navbar-header">
          <h1><a href="#" routerLink="/"> Brain Network</a></h1>
          <p>Collaborative Study Rooms</p>
        </div>
      </div>
      <div class="navbar-right">
        <div class="navbar-links">
          <ul class=" nav navbar-list">
            <li class="navbar-list-item nav-item">
              <a class="navbar-link nav-link" href="#" routerLink="/">Home</a>
            </li>
            <li class="navbar-list-item nav-item">
              <a class="navbar-link nav-link" href="#" routerLink="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
