<footer class="bn-footer">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md">
      <ul class="nav navbar-list flex-column">
        <li class="navbar-list-item nav-item">
          <a class="navbar-link nav-link" href="#" routerLink="/">Home</a>
        </li>
        <li class="navbar-list-item nav-item">
          <a class="navbar-link nav-link" href="#" routerLink="/about">About</a>
        </li>
      <li class="navbar-list-item nav-item">
        <a class="navbar-link nav-link" href="#" routerLink="">Login/Register</a>
      </li>
        <li class="navbar-list-item nav-item">
          <a class="navbar-link nav-link" href="#" routerLink="">My Account</a>
        </li>
        <li class="navbar-list-item nav-item">
          <a class="navbar-link nav-link" href="#" routerLink="">Create a room</a>
        </li>
        <li class="navbar-list-item nav-item">
          <a class="navbar-link nav-link" href="#" routerLink="">Join a room</a>
        </li>
        <li class="navbar-list-item nav-item">
          <a class="navbar-link nav-link" href="#" routerLink="">Need Help? Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid">
    <p>Copyright &copy; 2020 Brain Network All rights reserved.</p>
  </div>
</footer>
