<p>premeeting works!</p>
<div class="row">
  <div class="col-md-6">
    <h2 style="margin: auto">Please Login</h2>
    <h3 *ngIf='message'>
      {{message}}
    </h3>
    <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
      <div class="form-group">    //handles the groupName
        <label for="meetingname">Meeting name:</label>
        <input type="text" class="form-control" formControlName="groupname"
               id="groupname" autocomplete="off">
        <div class="error" *ngIf="groupForm.controls['groupname'].hasError('required')
      && groupForm.controls['groupname'].touched">Please enter Group name</div>
      </div>

      <div class="form-group">    //handles the password
        <label for="pwd">PassWord:</label>
        <input type="password" class="form-control" formControlName="password"
               id="pwd" autocomplete="off">
        <div class="error" *ngIf="groupForm.controls['password'].hasError('required')
      && groupForm.controls['password'].touched">Please enter password</div>
      </div>

      <button class="btn btn-success"[disabled]="groupForm.invalid">Create Group</button>
      <div *ngIf="invalidGroup" class="error">
        <div>Invalid Group Information. Please Try again</div>
      </div>
    </form>
  </div>
</div>
